# Compiled object and binary files
*.o
*.obj
*.exe
*.out
*.dll
*.so
*.dylib

# Precompiled Headers
*.gch
*.pch

# Compiled Static libraries
*.a
*.lib

# Ignore all README files
README
README.md
README.txt

# Add other file types or directories you want to ignore
# For example, editor backup files, temporary files, etc.
*~
*.swp
temp/
